<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<RollingFile name="SERVER_LOGFILE" fileName="/logs/training.log"
			filePattern="/logs/training-%d{MM-dd-yyyy}.log.gz">
			<PatternLayout>
				<Charset>UTF-8</Charset>
				<Pattern>%d %-5p %-5c{3}:%L %x -> %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="20 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
	</Appenders>
	<Loggers>

		<Root level="INFO">
			<AppenderRef ref="SERVER_LOGFILE" />
		</Root>
	</Loggers>
</Configuration>